body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: hsl(0, 0%, 94%);
}

canvas {
    height: 90vh;
    width: 45vh;
    background: hsl(0, 0%, 90%);
}