body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

canvas {
    height: 90vh;
    width: 45vh;
    background: #e6e6e6;
}